.go-top-main{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.266);
    z-index: 9999;
}
body{
    position: relative;
}
