/* SudokuGrid.css */

.sodo-main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sudoku-grid{
    border-top: 1px solid black;
    border-left: 1px solid black;

}
.row {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
}

.cell:nth-child(3n) {
    border-right: 1px solid black;
}

.row:nth-child(3n) {
    border-bottom: 1px solid black;
}

.cell:focus {
    outline: none;
}